mixin myButton(props={})
  - var myStyle=""
  -myStyle="width:" + props.width + "; height:" + props.height

  input(id= props.id, class="myBytton page__button", type="submit", style= myStyle, value= props.label, form= props.formID)