//- миксин-текстовое поле
//- label - заголовок
//- label, totalWidth, width, height, labelBoxGap
mixin textBox(props = {})
  - var inputStyle=""
  -myStyle="width:" + props.width + "; height:" + props.height
  - var totalStyle=""
  -totalStyle="width:"+ props.totalWidth
  
  div(class="textBox", style=totalStyle)
    
    label.textBox_label= props.label
    
    input(name= props.name, id= props.name, type="text", class="textBox_input page__input", style= myStyle, form= props.formID)