//- миксин-текстовое поле
//- label - заголовок
mixin textBox(label, hint, width, height, labelBoxGap)
  .textBox
    label.textBox_label label
    input(type="text", name="", class="textBox_input") hint