include ../elements/wrapper/wrapper.pug
include ../elements/textBox/textBox.pug
include ../elements/myBytton/myBytton.pug
include ../elements/dropList/dropList.pug
include ../elements/borderLabel/borderLabel.pug
include ../elements/separator/separator.pug
//- include ../elements/myForm/myForm.pug

-var formID = "form_1"

doctype html
html(lang="en")
  head
    link(rel="stylesheet", href="../../style/page.scss")
    meta(charset="UTF-8")
    meta(http-equiv="X-UA-Compatible", content="IE=edge")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    title Document
  body.page__body
    header.page__header 
    
    main.page__main
      //- .page__borderContainer
      .page__container
        form.page__form(id= formID)
        +textBox({name: "client_name",  label: "Заказчик", width: "60%", height: "40px", labelBoxGap: 5, totalWidth: "100%", formID: formID})
        //- input(id="client_name" class="page__input" form=formID name="client_name" placeholder="Наименование заказчика")
        //- .page__flex-wrapper
        
        +wrapper({m_bottom: 15, m_top: 15})
          +textBox({name: "inn", label: "ИНН", width: "60%", height: "40px", labelBoxGap: 5, totalWidth: "100%", formID: formID})
        +wrapper({m_bottom: 15})          
          +textBox({name: "num_purhase", label: "№ закупки (ЕИС)", width: "60%", height: "40px", labelBoxGap: 5, totalWidth: "100%", formID: formID})
        //- .page__flex-wrapper
        +wrapper({m_bottom: 15})          
          +dropList({name: "type_BG", label: "Тип БГ", width: "60%", height: "40px", labelBoxGap: 5, totalWidth: "100%", values: [1, 2, 3], formID: formID})          
        +wrapper({m_bottom: 15})          
          +textBox({name: "sum_warranty", label: "сумма гарантии:", width: "60%", height: "40px", labelBoxGap: 5, totalWidth: "100%", formID: formID})
        +wrapper({m_top: 5, m_bottom: 5})
          +myButton({label: "Рассчитать гарантийный рейтинг", width: "100%", height: "35px", id: "btn_calc_rating"})
     
      //- .page__borderContainer 
      +separator({width: "80%", margin_top: "10px", margin_bottom: "10px"})
      +wrapper({p_top: 20, p_bottom: 10})
        .page__flex-wrapper.page__vertical-flex          
          .page__indicator
            .page__scale
            div(class="page__arrow" id="arrow")
          div.page__label#warrantyValue -
          div ВАШ БАЛЛ 
    footer.page__footer 
      //- .page__borderContainer            
      .page__container
        +wrapper({m_top: 20, m_bottom: 20})
          .page__flex-wrapper
            +myButton({label: "Получить расшифровку", width: "40%", height: "35px", id: "btn_get_descript"})
            +myButton({label: "Оставить заявку", width: "40%", height: "35px", formID: formID, id: "btn_send_application"})
      +separator({width: "80%", margin_top: "10px", margin_bottom: "10px"})
      #problemsContainer
  script window.init("http://httpbin.org/post")
        