.page__problemContainer {
  display: flex;
  width: 100%;
}

.page__problemNameContainer{
  width: 70%
}

.page__problemValueContainer {
  width: 30%;
  &_green {
    background-color: green;
  }

  &_yellow {
    background-color: yellow;
  }

  &_red {
    background-color: red;
  }
}