mixin wrapper(m_left,  m_right,  m_top,  m_bottom,  p_left,  p_right,  p_top,  p_bottom)
  - var myStyle=""
  if m_left != undefined
    - myStyle+="margin-left:" + m_left + "px;"
  
  if m_right != undefined
    - myStyle+="margin-right:" + m_right + "px;"
  
  if m_top != undefined
    - myStyle+="margin-top:" + m_top + "px;"
  
  if m_bottom != undefined
    - myStyle+="margin-bottom:" + m_bottom + "px;"
  
  if p_left != undefined
    - myStyle+="padding-left:" + p_left + "px;"
  
  if p_right != undefined
    - myStyle+="padding-right:" + p_right + "px;"
  
  if p_top != undefined
    - myStyle+="padding-top:" + p_top + "px;"
  
  if p_bottom != undefined
    - myStyle+="padding-bottom:" + p_bottom + "px;"    
  
  div(class="wrapper" style= myStyle)
    block